@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
}

<html lang="pl">

    <head>

        <meta charset="utf-8">
        <title>Jak Zarobić Milion</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Portal finansowy">
        <meta name="author" content="Grzegorz Budzyn">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lobster">
        <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Lato:400,700'>
        <link href='http://fonts.googleapis.com/css?family=Advent+Pro&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="~/Content/bootstrap.min.css">
		<link rel="stylesheet" href="~/css/Style.css">
	</head>
	<body>
		<div class="container">
            <div class="header row">
                <div class="logo col-md-4">
                    <h1><a href="">www<span>.</span>jakzarobicmilion<span>.</span>com</a></h1>
                </div>
                <div class="call-us col-md-8">
                    @Html.Partial("StatusLogowania")
                </div>
            </div>
    	</div>
		
		@RenderBody()			
		
		
	</body>
</html>