<!DOCTYPE root[<!ELEMENT Domyslny ANY>
<!ATTLIST Domyslny id ID #REQUIRED>
 
<!ELEMENT Witamy ANY>
<!ATTLIST Witamy id ID #REQUIRED>

]>
<root id="-1">
  <Domyslny id="1065" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2015-04-19T21:11:20" updateDate="2015-04-19T21:11:44" nodeName="Kontakt" urlName="kontakt" path="-1,1065" isDoc="" nodeType="1060" creatorName="Masnet" writerName="Masnet" writerID="0" template="1059" nodeTypeAlias="Domyslny">
    <opis><![CDATA[{
  "name": "Pół na pół",
  "sections": [
    {
      "grid": 6,
      "rows": []
    },
    {
      "grid": 6,
      "rows": []
    }
  ]
}]]></opis>
  </Domyslny>
  <Witamy id="1062" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2015-04-19T19:28:46" updateDate="2015-04-19T22:04:42" nodeName="Witamy" urlName="witamy" path="-1,1062" isDoc="" nodeType="1053" creatorName="Masnet" writerName="Masnet" writerID="0" template="1052" nodeTypeAlias="Witamy">
    <Opis><![CDATA[{
  "name": "Pełna szerokość",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "editors": [
                "headline"
              ],
              "controls": [
                {
                  "value": "Witam oto test strony głównej",
                  "editor": {
                    "name": "Headline",
                    "alias": "headline",
                    "view": "textstring",
                    "render": null,
                    "icon": "icon-coin",
                    "config": {
                      "style": "font-size: 36px; line-height: 45px; font-weight: bold",
                      "markup": "<h1>#value#</h1>"
                    }
                  }
                }
              ]
            }
          ],
          "id": "ecc4cc0c-84c6-eb45-21f9-966c9f3610b6"
        },
        {
          "name": "Article",
          "areas": [
            {
              "grid": 4,
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1064,
                    "image": "/media/1001/masnet.png"
                  },
                  "editor": {
                    "name": "Image",
                    "alias": "media",
                    "view": "media",
                    "render": null,
                    "icon": "icon-picture",
                    "config": {}
                  }
                }
              ]
            },
            {
              "grid": 8,
              "controls": [
                {
                  "value": "<h2 style=\"text-align: center;\"><strong>Oto Lista rzeczy do zrobienia:</strong></h2>",
                  "editor": {
                    "name": "Rich text editor",
                    "alias": "rte",
                    "view": "rte",
                    "render": null,
                    "icon": "icon-article",
                    "config": {}
                  }
                }
              ]
            }
          ],
          "id": "bb353862-a869-bf86-1983-7ac040d4b082"
        }
      ]
    }
  ]
}]]></Opis>
  </Witamy>
  <Domyslny id="1068" parentID="-1" level="1" creatorID="0" sortOrder="2" createDate="2015-04-19T23:12:29" updateDate="2015-04-19T23:12:34" nodeName="Logowanie" urlName="logowanie" path="-1,1068" isDoc="" nodeType="1060" creatorName="Masnet" writerName="Masnet" writerID="0" template="1066" nodeTypeAlias="Domyslny">
    <opis><![CDATA[{
  "name": "Pełna szerokość",
  "sections": [
    {
      "grid": 12,
      "rows": []
    }
  ]
}]]></opis>
  </Domyslny>
  <Domyslny id="1069" parentID="-1" level="1" creatorID="0" sortOrder="3" createDate="2015-04-19T23:16:28" updateDate="2015-04-19T23:16:28" nodeName="Oferta" urlName="oferta" path="-1,1069" isDoc="" nodeType="1060" creatorName="Masnet" writerName="Masnet" writerID="0" template="1059" nodeTypeAlias="Domyslny">
    <opis><![CDATA[{
  "name": "Pełna szerokość",
  "sections": [
    {
      "grid": 12,
      "rows": []
    }
  ]
}]]></opis>
  </Domyslny>
</root>