<!DOCTYPE root[<!ELEMENT Witamy ANY>
<!ATTLIST Witamy id ID #REQUIRED>
 

]>
<root id="-1">
  <Witamy id="1054" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2015-04-19T13:13:06" updateDate="2015-04-19T13:13:06" nodeName="Witamy" urlName="witamy" path="-1,1054" isDoc="" nodeType="1053" creatorName="Masnet" writerName="Masnet" writerID="0" template="1052" nodeTypeAlias="Witamy" />
</root>